@font-face {
    font-family: 'RexBoldBold';
    src: url('fonts/rex_bold-webfont.eot');
    src: url('fonts/rex_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rex_bold-webfont.woff') format('woff'),
         url('fonts/rex_bold-webfont.ttf') format('truetype'),
         url('fonts/rex_bold-webfont.svg#RexBoldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #566270;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.txt {
    display: block;
    position: absolute;
    font-weight:lighter;
    cursor: pointer;
}

.rotated {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#center {
    display: block;
    background-color: #000;
    width: 1px;
    height: 1px;
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 100;
}

#contact-me {    
    font-family: "Lilita One";
    color: #ff6b6b;    
    right: 50px;
    bottom: 30px;        
}

#illustration {   
    font-family: "RexBoldBold";    
    color: #4ecdc4;
    left:50%;
    top:50%;
    margin-left:-67px;
    margin-top:-17px;    
}

#layout {    
    font-family: "Ruda";
    color:#FF6B6B;
    left:50%;
    top:50%;  
    margin-top:-38px;
    margin-left:-17px;   
}

#web-design {    
    font-family: "Lilita One";
    color: #b1dc57;    
    right: 50%;
    top:50%;   
    margin-right:15px;
    margin-top:-73px;     
}

#pictures {   
    font-family: "RexBoldBold";    
    color: #4ECDC4;
    right:50%;
    top:50%;
    font-size: 48px;
    margin-right:15px;
    margin-top:-54px;    
}

#fonts {    
    font-family: "Lilita One";
    color: #FF6B6B;    
    right: 50%;
    top:50%;   
    margin-right:15px;
    margin-top:-10px;
    font-size: 52px;     
}

#interactive {    
    font-family: "Ruda";
    color:#B1DC57;
    right:50%;
    top:50%;  
    margin-top:45px;
    margin-right:15px;       
}

#stop-motion {    
    font-family: "Lilita One";
    color: #B1DC57;    
    right: 50%;
    top:50%;    
    margin-top:60px;     
}

#lions {    
    font-family: "Lilita One";
    color: #B1DC57;    
    left: 50%;
    top:50%;
    margin-left: -14px;    
    margin-top:-110px;
    font-size: 50px;
    line-height: 40px;             
}

#newyear {   
    font-family: "RexBoldBold";    
    color: #4ECDC4;
    left:50%;
    top:50%;    
    margin-left:35px;
    margin-top:-32px;    
}

#typography {    
    font-family: "Lilita One";
    color: #B1DC57;    
    left: 50%;
    top:50%;    
    margin-top:-10px;
    margin-left:35px;
}

#dandad {    
    font-family: "Lilita One";
    color: #4ECDC4;
    left: 50%;
    top:50%;   
    margin-left:10px;
    margin-top:6px;
    font-size: 60px;     
}
